@page
@model RyanHeidema.Pages.PersonalProjects.IndexModel
@{
    ViewData["Title"] = "Ryan Heidema - Personal Projects";
}

<div class="text-center">
    <h1 class="display-4">Personal Projects</h1>
</div>
