@page
@model RyanHeidema.Pages.WorkProjects.IndexModel
@{
    ViewData["Title"] = "Ryan Heidema - Work Projects";
}

<div class="text-center">
    <h1 class="display-4">Work Projects</h1>
</div>
