@page
@model RyanHeidema.Pages.Projects.IndexModel
@{
    ViewData["Title"] = "Ryan Heidema - Projects";
}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto w-100">
            <li class="nav-item active">
                <a class="nav-link" href="#"><u>Home</u> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#About"><u>About</u></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Projects"><u>Projects</u></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Contact"><u>Contact</u></a>
            </li>
            </ul>
        </div>
    </div>
</nav>


