@page
@using BoggleSolverCSharp;
@model RyanHeidema.Pages.Projects.IndexModel
@{
    ViewData["Title"] = "Ryan Heidema - Projects";
}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top border-bottom border-orange-one">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto w-100">
            <li class="nav-item active">
                <a class="nav-link" asp-page="../Index"><u>Home</u> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="../Index" asp-fragment="About"><u>About</u></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#allProjects"><u>Projects</u></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="../Index" asp-fragment="Contact"><u>Contact</u></a>
            </li>
            </ul>
        </div>
    </div>
</nav>
<div class="pt-5" id="allProjects">
    <div class="text-center">
        <h1 class="display-4"><u>Projects</u></h1>
    </div>
    <div class="container py-4">
        <div class="card mb-5">
            <div class="card-header">
                <h5 class="mb-1"><u>Boggle Solver</u></h5>
                <p class="text-muted text-weight-light mb-0">Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <div class="row mb-3">
                        <div class="col">
                            <div class="text-center">
                                <p class="h5"><u>Input Characters</u></p>
                            </div>
                            <form method="post">
                                <div class="row py-1">
                                    <div class="col pr-0">
                                        <input type="text" class="form-control" maxLength="1" asp-for="charList.let00">
                                    </div>
                                    <div class="col pl-2 pr-1">
                                        <input type="text" class="form-control" maxLength="1" asp-for="charList.let01">
                                    </div>
                                    <div class="col pr-2 pl-1">
                                        <input type="text" class="form-control" maxLength="1" asp-for="charList.let02">
                                    </div>
                                    <div class="col pl-0">
                                        <input type="text" class="form-control" maxLength="1" asp-for="charList.let03">
                                    </div>
                                </div>
                                <div class="row py-1">
                                    <div class="col pr-0">
                                        <input type="text" class="form-control" maxLength="1" asp-for="charList.let10">
                                    </div>
                                    <div class="col pl-2 pr-1">
                                        <input type="text" class="form-control" maxLength="1" asp-for="charList.let11">
                                    </div>
                                    <div class="col pr-2 pl-1">
                                        <input type="text" class="form-control" maxLength="1" asp-for="charList.let12">
                                    </div>
                                    <div class="col pl-0">
                                        <input type="text" class="form-control" maxLength="1" asp-for="charList.let13">
                                    </div>
                                </div>
                                <div class="row py-1">
                                    <div class="col pr-0">
                                        <input type="text" class="form-control" maxLength="1" asp-for="charList.let20">
                                    </div>
                                    <div class="col pl-2 pr-1">
                                        <input type="text" class="form-control" maxLength="1" asp-for="charList.let21">
                                    </div>
                                    <div class="col pr-2 pl-1">
                                        <input type="text" class="form-control" maxLength="1" asp-for="charList.let22">
                                    </div>
                                    <div class="col pl-0">
                                        <input type="text" class="form-control" maxLength="1" asp-for="charList.let23">
                                    </div>
                                </div>
                                <div class="row py-1">
                                    <div class="col pr-0">
                                        <input type="text" class="form-control" maxLength="1" asp-for="charList.let30">
                                    </div>
                                    <div class="col pl-2 pr-1">
                                        <input type="text" class="form-control" maxLength="1" asp-for="charList.let31">
                                    </div>
                                    <div class="col pr-2 pl-1">
                                        <input type="text" class="form-control" maxLength="1" asp-for="charList.let32">
                                    </div>
                                    <div class="col pl-0">
                                        <input type="text" class="form-control" maxLength="1" asp-for="charList.let33">
                                    </div>
                                </div>
                                <div class="form-group row pt-2">
                                    <div class="col-sm-4">
                                        <label class="control-label">Min Word Length:</label>
                                    </div>
                                    <div class="col-sm-2">
                                        <select class="form-control" asp-for="minSize">
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <input type="submit" value="Solve" class="btn btn-outline-dark rounded-0 mx-2" />
                                        <input type="reset" value="Reset" class="btn btn-outline-dark rounded-0 mx-2" />
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col">
                            <div class="text-center">
                                <p class="h5"><u>Results</u></p>
                            </div>
                            @if(Model.Words != null)
                            {
                                <p class="text-left h6">@Model.Words.Count words, @Model.totalScore points</p>
                                <div class="row">
                                    @foreach (Word w in Model.Words)
                                    {
                                        <p> @w.Text, @w.Score | </p>
                                    }
                                </div>
                            }
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Id numquam veritatis vitae quos fugiat eius quidem eveniet quasi quis quo eum aliquam, cumque obcaecati doloremque omnis quaerat ea dolorum? Enim eligendi eveniet exercitationem in consequuntur dolor molestias alias perspiciatis inventore?
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="card-text text-muted mb-1"><i>Personal Project</i></p>
                        <p class="card-text text-muted text-weight-light">C++, C#</p>
                    </div>
                    <div class="col text-right">
                        <a href="https://github.com/rheidem/Boggle-Solver" target="_blank" class="fa fa-github-square text-right" style="font-size:36px; color: #212529;"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-5">
            <div class="card-header">
                <h5 class="mb-1"><u>Event Scheduler</u></h5>
                <p class="text-muted text-weight-light mb-0">Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quo saepe repellendus, illo unde voluptas molestias, maxime similique reprehenderit quae sapiente dignissimos laudantium odio nesciunt autem quas laborum obcaecati, perspiciatis debitis voluptatum aliquam! Alias, reiciendis cupiditate harum illum rem consequuntur aperiam. Molestiae animi iusto porro quisquam voluptatum unde laudantium doloribus magnam enim fuga quas eaque ipsa esse dolorem tempore nisi voluptatibus earum doloremque alias, debitis ex corrupti voluptatem aut quaerat? Maiores explicabo sed quos facilis accusantium, debitis totam quaerat rerum mollitia vitae temporibus consequuntur perspiciatis voluptatem sint repellat nulla magni placeat, fugit dolor ea, a vero. Consequatur repellat repudiandae ullam!
                </p>
                <div class="row">
                    <div class="col">
                        <p class="card-text text-muted mb-1"><i>Personal Project</i></p>
                        <p class="card-text text-muted text-weight-light">C++</p>
                    </div>
                    <div class="col text-right">
                        <a href="https://github.com/rheidem/Event-Scheduler" target="_blank" class="fa fa-github-square text-right" style="font-size:36px; color: #212529;"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-5">
            <div class="card-header">
                <h5 class="mb-1"><u>Personal Website</u></h5>
                <p class="text-muted text-weight-light mb-0">Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quo saepe repellendus, illo unde voluptas molestias, maxime similique reprehenderit quae sapiente dignissimos laudantium odio nesciunt autem quas laborum obcaecati, perspiciatis debitis voluptatum aliquam! Alias, reiciendis cupiditate harum illum rem consequuntur aperiam. Molestiae animi iusto porro quisquam voluptatum unde laudantium doloribus magnam enim fuga quas eaque ipsa esse dolorem tempore nisi voluptatibus earum doloremque alias, debitis ex corrupti voluptatem aut quaerat? Maiores explicabo sed quos facilis accusantium, debitis totam quaerat rerum mollitia vitae temporibus consequuntur perspiciatis voluptatem sint repellat nulla magni placeat, fugit dolor ea, a vero. Consequatur repellat repudiandae ullam!
                </p>
                <div class="row">
                    <div class="col">
                        <p class="card-text text-muted mb-1"><i>Personal Project</i></p>
                        <p class="card-text text-muted text-weight-light">C#, HTML/CSS, JavaScript</p>
                    </div>
                    <div class="col text-right">
                        <a href="https://github.com/rheidem/Personal-Website" target="_blank" class="fa fa-github-square text-right" style="font-size:36px; color: #212529;"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-5">
            <div class="card-header">
                <h5 class="mb-1"><u>EECS 281 Project 1</u></h5>
                <p class="text-muted text-weight-light mb-0">Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quo saepe repellendus, illo unde voluptas molestias, maxime similique reprehenderit quae sapiente dignissimos laudantium odio nesciunt autem quas laborum obcaecati, perspiciatis debitis voluptatum aliquam! Alias, reiciendis cupiditate harum illum rem consequuntur aperiam. Molestiae animi iusto porro quisquam voluptatum unde laudantium doloribus magnam enim fuga quas eaque ipsa esse dolorem tempore nisi voluptatibus earum doloremque alias, debitis ex corrupti voluptatem aut quaerat? Maiores explicabo sed quos facilis accusantium, debitis totam quaerat rerum mollitia vitae temporibus consequuntur perspiciatis voluptatem sint repellat nulla magni placeat, fugit dolor ea, a vero. Consequatur repellat repudiandae ullam!
                </p>
                <p class="card-text text-muted mb-1"><i>School Project</i></p>
                <p class="card-text text-muted text-weight-light">C++</p>
            </div>
        </div>
        <div class="card mb-5">
            <div class="card-header">
                <h5 class="mb-1"><u>EECS 281 Project 4</u></h5>
                <p class="text-muted text-weight-light mb-0">Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quo saepe repellendus, illo unde voluptas molestias, maxime similique reprehenderit quae sapiente dignissimos laudantium odio nesciunt autem quas laborum obcaecati, perspiciatis debitis voluptatum aliquam! Alias, reiciendis cupiditate harum illum rem consequuntur aperiam. Molestiae animi iusto porro quisquam voluptatum unde laudantium doloribus magnam enim fuga quas eaque ipsa esse dolorem tempore nisi voluptatibus earum doloremque alias, debitis ex corrupti voluptatem aut quaerat? Maiores explicabo sed quos facilis accusantium, debitis totam quaerat rerum mollitia vitae temporibus consequuntur perspiciatis voluptatem sint repellat nulla magni placeat, fugit dolor ea, a vero. Consequatur repellat repudiandae ullam!
                </p>
                <p class="card-text text-muted mb-1"><i>School Project</i></p>
                <p class="card-text text-muted text-weight-light">C++</p>
            </div>
        </div>
        <div class="card mb-5">
            <div class="card-header">
                <h5 class="mb-1"><u>UPS 2020 Hackathon</u></h5>
                <p class="text-muted text-weight-light mb-0">Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="card-body">
                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam quo saepe repellendus, illo unde voluptas molestias, maxime similique reprehenderit quae sapiente dignissimos laudantium odio nesciunt autem quas laborum obcaecati, perspiciatis debitis voluptatum aliquam! Alias, reiciendis cupiditate harum illum rem consequuntur aperiam. Molestiae animi iusto porro quisquam voluptatum unde laudantium doloribus magnam enim fuga quas eaque ipsa esse dolorem tempore nisi voluptatibus earum doloremque alias, debitis ex corrupti voluptatem aut quaerat? Maiores explicabo sed quos facilis accusantium, debitis totam quaerat rerum mollitia vitae temporibus consequuntur perspiciatis voluptatem sint repellat nulla magni placeat, fugit dolor ea, a vero. Consequatur repellat repudiandae ullam!
                </p>
                <div class="row">
                    <div class="col">
                        <p class="card-text text-muted mb-1"><i>Work-related Project</i></p>
                        <p class="card-text text-muted text-weight-light">C#, HTML/CSS, JavaScript, SQL</p>
                    </div>
                    <div class="col text-right">
                        <a href="https://github.com/rheidem/UPS-Hackathon-2020" target="_blank" class="fa fa-github-square text-right" style="font-size:36px; color: #212529;"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container text-center py-4">
    <a class="btn btn-outline-dark rounded-0" asp-page="../Index">Home Page</a>
</div>
