@page
@model RyanHeidema.Pages.SchoolProjects.IndexModel
@{
    ViewData["Title"] = "Ryan Heidema - School Projects";
}

<div class="text-center">
    <h1 class="display-4">School Projects</h1>
</div>
