@page
@using BoggleSolverCSharp;
@model RyanHeidema.Pages.Projects.IndexModel
@{
    ViewData["Title"] = "Ryan Heidema - Email Sent";
}
<nav class="navbar navbar-expand navbar-dark bg-dark sticky-top thick-border">
    <div class="container">
        <div>
            <ul class="navbar-nav mr-auto w-100">
            <li class="nav-item active">
                <a class="nav-link" asp-page="./Index"><u>Home</u> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="./Index" asp-fragment="About"><u>About</u></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="./Projects/Index"><u>Projects</u></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-page="./Index" asp-fragment="Contact"><u>Contact</u></a>
            </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="text-center display-5 mt-5">
        Email Sent
    </div>
    <hr />
    <div class="mt-2"> 
        <p>Thanks for the email, we'll be in touch soon!</p>
    </div>
</div>
