@page
@model IndexModel
@{
    ViewData["Title"] = "Ryan Heidema";
}
<section>
    <div class="bg-grey-one py-5 full-height" id="Home">
        <div class="container text-center">
            <h1 class="display-4"><u>Ryan Heidema</u></h1>
            <h1 class="display-5">Aspiring Software Engineer</h1>
            <a href="#About" class="text-orange-one">
                <svg width="2.8em" height="2.8em" viewBox="0 0 16 16" class="bi bi-chevron-double-down" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                    <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
                </svg>
            </a>
        </div>
    </div>
</section>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto w-100">
            <li class="nav-item active">
                <a class="nav-link" href="#"><u>Home</u> <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#About"><u>About</u></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Projects"><u>Projects</u></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#Contact"><u>Contact</u></a>
            </li>
            </ul>
        </div>
    </div>
</nav>
<div class="py-5" id="About">
    <div class="text-center">
        <h1 class="display-4"><u>About</u></h1>
    </div>
    <div class="container pt-5">
        <div class="row">
            <div class="col-3">
                <img src="~/portrait.jpeg" alt="portrait" class="rounded my-portrait">
            </div>
            <div class="col-9">
                <p class="lead">
                    Hello! My name is <span class="text-orange-one">Ryan Heidema</span>.
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil minus cumque accusamus, dolorum sunt atque necessitatibus, dolorem excepturi, expedita porro provident quas ducimus esse enim officiis fugiat quidem nam aspernatur. Voluptas, dolor iste sunt eum quasi eius repellendus ex facere debitis soluta officia nulla, sequi ullam nostrum cupiditate, illum itaque numquam et. Et aut reiciendis ipsam dolorum, id minus minima.
                </p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo, quod? Modi veniam fuga porro laudantium obcaecati saepe et libero asperiores fugit iste necessitatibus quasi voluptate, distinctio quidem, aperiam, quo tenetur placeat. Asperiores, sit beatae at laudantium deserunt voluptatum amet odio.
                </p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo, quod? Modi veniam fuga porro laudantium obcaecati saepe et libero asperiores fugit iste necessitatibus quasi voluptate, distinctio quidem, aperiam, quo tenetur placeat. Asperiores, sit beatae at laudantium deserunt voluptatum amet odio.
                </p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo, quod? Modi veniam fuga porro laudantium obcaecati saepe et libero asperiores fugit iste necessitatibus quasi voluptate, distinctio quidem, aperiam, quo tenetur placeat. Asperiores, sit beatae at laudantium deserunt voluptatum amet odio.
                </p>
                <p class="font-weight-light">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim pariatur quasi dolores obcaecati omnis quisquam a error maxime culpa veritatis.
                </p>
            </div>
        </div>
        <div class="row py-5">
            <div class="col text-center">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum in harum a deserunt facilis quo consequuntur, molestiae enim eum libero!
            </div>
        </div>
        <hr />
        <div class="row py-4">
            <div class="col-3">
                <h1 class="display-6"><u>Education</u></h1>
            </div>    
            <div class="col-9">
                <h4><a href="https://umich.edu/" target="_blank">University of Michigan</a> - Ann Arbor</h4>
                <h6 class="font-weight-light pt-1 pb-3"><i>Bachelor of Science in Engineering - BSE (Computer Science)</i> &#8226; 2018 - 2020 </h6>
                <p class="text-orange-one text-weight-light">Course Work</p>
                <ul class="pb-2">
                    <li>
                        <p class="text-muted text-weight-light">
                            &#8226; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit architecto suscipit provident? Qui, delectus. Suscipit, deleniti dolores. Voluptas, odit porro?
                        </p>
                    </li>
                    <li>
                        <p class="text-muted text-weight-light">
                            &#8226; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit architecto suscipit provident? Qui, delectus. Suscipit, deleniti dolores. Voluptas, odit porro?
                        </p>
                    </li>
                </ul>
                <a href="https://www.solarcar.engin.umich.edu/" target="_blank" class="text-orange-one text-weight-light">U of M Solar Car Team</a>
                <p class="text-muted text-weight-light"><i>September 2018 - January 2020</i></p>
                 <ul>
                    <li>
                        <p class="text-muted text-weight-light">
                            &#8226; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit architecto suscipit provident? Qui, delectus. Suscipit, deleniti dolores. Voluptas, odit porro?
                        </p>
                    </li>
                    <li>
                        <p class="text-muted text-weight-light">
                            &#8226; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit architecto suscipit provident? Qui, delectus. Suscipit, deleniti dolores. Voluptas, odit porro?
                        </p>
                    </li>
                    <li>
                        <p class="text-muted text-weight-light">
                            &#8226; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit architecto suscipit provident? Qui, delectus. Suscipit, deleniti dolores. Voluptas, odit porro?
                        </p>
                    </li>
                </ul>
            </div>    
        </div>
        <hr />
        <div class="row py-4">
            <div class="col-3">
                <h1 class="display-6"><u>Work</u></h1>
            </div>    
            <div class="col-9">
                <h4>IT Intern, <a href="https://www.ups.com/" target="_blank">UPS</a> - Louisville, KY</h4>
                <h6 class="font-weight-light pt-1 pb-3"> May 2020 - August 2020 </h6>
                <ul>
                    <li>
                        <p class="text-muted text-weight-light">
                            &#8226; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit architecto suscipit provident? Qui, delectus. Suscipit, deleniti dolores. Voluptas, odit porro?
                        </p>
                    </li>
                    <li>
                        <p class="text-muted text-weight-light">
                            &#8226; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit architecto suscipit provident? Qui, delectus. Suscipit, deleniti dolores. Voluptas, odit porro?
                        </p>
                    </li>
                    <li>
                        <p class="text-muted text-weight-light">
                            &#8226; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit architecto suscipit provident? Qui, delectus. Suscipit, deleniti dolores. Voluptas, odit porro?
                        </p>
                    </li>
                    <li>
                        <p class="text-muted text-weight-light">
                            &#8226; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit architecto suscipit provident? Qui, delectus. Suscipit, deleniti dolores. Voluptas, odit porro?
                        </p>
                    </li>
                </ul>
            </div>    
        </div>
        <hr />
        <div class="row py-4">
            <div class="col text-center">
                <p class="lead">
                    Have a question?
                </p>
                <a class="btn btn-outline-dark rounded-0" href="#Contact">Contact Me</a>
            </div>
        </div>
    </div>
</div>
<div class="bg-grey-one py-5" id="Projects">
    <div class="text-center">
        <h1 class="display-4"><u>Projects</u></h1>
    </div>
    <div class="container">
        <div class="py-3">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ex veniam necessitatibus. Sunt, placeat. Blanditiis repudiandae nihil quos nesciunt, itaque atque laborum possimus eveniet architecto excepturi optio minima ea est placeat non reiciendis quia impedit voluptatem! Quae, quas ducimus possimus dolore beatae est explicabo culpa amet excepturi quidem vitae fugit?
            </p>
            <p class="text-lead text-orange-one">
                Highlighted projects below are my favorites.
            </p>
        </div>
        <hr />
        <div class="card-columns pt-4">
            <div class="card">
                <div class="card-header">
                    <h5><u>Personal Website</u></h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nulla earum excepturi veniam, saepe cum sapiente facilis commodi similique voluptate quam recusandae atque doloribus cumque sequi libero quae, porro ut.</p>
                    <p class="card-text text-muted text-weight-light">C#, HTML/CSS, JavaScript</p>
                    <a class="btn btn-dark rounded-0 text-white" asp-page="./Projects/Index">Learn More</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5><u class="text-orange-one">Event Scheduler</u></h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nulla earum excepturi veniam, saepe cum sapiente facilis commodi similique voluptate quam recusandae atque doloribus cumque sequi libero quae, porro ut.</p>
                    <p class="card-text text-muted text-weight-light">C++</p>
                    <a class="btn btn-dark rounded-0 text-white" asp-page="./Projects/Index">Learn More</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5><u class="text-orange-one">Boggle Solver</u></h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nulla earum excepturi veniam, saepe cum sapiente facilis commodi similique voluptate quam recusandae atque doloribus cumque sequi libero quae, porro ut.</p>
                    <p class="card-text text-muted text-weight-light">C++</p>
                    <a class="btn btn-dark rounded-0 text-white" asp-page="./Projects/Index">Learn More</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5><u>EECS 281 Project 1</u></h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nulla earum excepturi veniam, saepe cum sapiente facilis commodi similique voluptate quam recusandae atque doloribus cumque sequi libero quae, porro ut.</p>
                    <p class="card-text text-muted text-weight-light">C++</p>
                    <a class="btn btn-dark rounded-0 text-white" asp-page="./Projects/Index">Learn More</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5><u>EECS 281 Project 4</u></h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nulla earum excepturi veniam, saepe cum sapiente facilis commodi similique voluptate quam recusandae atque doloribus cumque sequi libero quae, porro ut.</p>
                    <p class="card-text text-muted text-weight-light">C++</p>
                    <a class="btn btn-dark rounded-0 text-white" asp-page="./Projects/Index">Learn More</a>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h5><u>UPS 2020 Hackathon</u></h5>
                </div>
                <div class="card-body">
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil nulla earum excepturi veniam, saepe cum sapiente facilis commodi similique voluptate quam recusandae atque doloribus cumque sequi libero quae, porro ut.</p>
                    <p class="card-text text-muted text-weight-light">C#, HTML/CSS, JavaScript, SQL</p>
                    <a class="btn btn-dark rounded-0 text-white" asp-page="./Projects/Index">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="py-5" id="Contact">
    <div class="text-center">
        <h1 class="display-4"><u>Contact</u></h1>
    </div>
    <div class="container">
        <div class="text-center text-orange-one my-5">
            <p class="lead">
                Have a question or want to work together?
            </p>
        </div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
                <form>
                    <div class="form-group">
                        <input class="form-control my-1 bg-grey-one" type="text" placeholder="Name">
                        <input class="form-control my-1 bg-grey-one" type="text" placeholder="Your Email Address">
                        <input class="form-control my-1 bg-grey-one" type="text" placeholder="Subject">
                        <textarea class="form-control my-1 bg-grey-one" type="text" rows="6" placeholder="Your Message"></textarea>
                        <div class="text-right">
                            <button type="submit" class="btn btn-outline-dark rounded-0 my-1">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
    <div class="text-center">
        <a href="https://github.com/rheidem" target="_blank" class="fa fa-github-square mx-3" style="font-size:36px; color: #212529;"></a>
        <i class="fa fa-envelope mx-3" style="font-size:36px"></i>
        <a href="https://www.linkedin.com/in/ryan-heidema-2a03a117a/" target="_blank" class="fa fa-linkedin-square mx-3" style="font-size:36px; color: #212529;"></a>
    </div>
</div>