@page
@model IndexModel
@{
    ViewData["Title"] = "Ryan Heidema";
}
<div class="bg-grey-one py-5" id="Home" style="height: calc( 100vh - 67px );">
    <div class="container text-center">
        <h1 class="display-4"><u>Ryan Heidema</u></h1>
        <h1 class="display-5">Aspiring Software Engineer</h1>
    </div>
</div>
<div class="py-5" id="About">
    <div class="text-center">
        <h1 class="display-4"><u>About</u></h1>
    </div>
    <div class="container pt-5">
        <div class="row">
            <div class="col-3">
                <img src="~/portrait.jpeg" alt="portrait" class="rounded my-portrait">
            </div>
            <div class="col-9">
                <p class="lead">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed, quia!
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil minus cumque accusamus, dolorum sunt atque necessitatibus, dolorem excepturi, expedita porro provident quas ducimus esse enim officiis fugiat quidem nam aspernatur. Voluptas, dolor iste sunt eum quasi eius repellendus ex facere debitis soluta officia nulla, sequi ullam nostrum cupiditate, illum itaque numquam et. Et aut reiciendis ipsam dolorum, id minus minima.
                </p>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo, quod? Modi veniam fuga porro laudantium obcaecati saepe et libero asperiores fugit iste necessitatibus quasi voluptate, distinctio quidem, aperiam, quo tenetur placeat. Asperiores, sit beatae at laudantium deserunt voluptatum amet odio.
                </p>
                <p class="font-weight-light">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim pariatur quasi dolores obcaecati omnis quisquam a error maxime culpa veritatis.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="bg-grey-one py-5" id="Projects">
    <div class="text-center">
        <h1 class="display-4"><u>Projects</u></h1>
    </div>
    <div class="container">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus ipsam maiores esse dicta facere ullam, sit consequuntur minima earum, voluptatum quae. Dolorum ipsam quos, maiores nulla ab iusto aspernatur. Dignissimos.
    </div>
</div>
<div class="py-5" id="Contact">
    <div class="text-center">
        <h1 class="display-4"><u>Contact</u></h1>
    </div>
    <div class="container">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum cupiditate enim dolore, fugit harum rem pariatur quo, saepe, sequi aut recusandae quos sed. Ad quibusdam, praesentium atque autem sint iure.
    </div>
</div>