@page
@model IndexModel
@{
    ViewData["Title"] = "Ryan Heidema";
}
<div class="bg-grey-one py-5" id="Home" style="height: 600px;">
    <div class="text-center">
        <h1 class="display-4"><u>Ryan Heidema</u></h1>
    </div>
    <div class="text-center">
        <h1 class="display-5">Aspiring Software Engineer</h1>
    </div>
</div>
<div class="py-5" id="About" style="height: 600px;">
    <div class="text-center">
        <h1 class="display-4"><u>About</u></h1>
    </div>
    <div class="container">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae qui ducimus provident nisi obcaecati minima quisquam aliquam aliquid, consectetur assumenda minus dicta iusto porro totam nostrum doloribus ipsum nesciunt. Porro.
    </div>
</div>
<div class="bg-grey-one py-5" id="Projects" style="height: 600px;">
    <div class="text-center">
        <h1 class="display-4"><u>Projects</u></h1>
    </div>
    <div class="container">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus ipsam maiores esse dicta facere ullam, sit consequuntur minima earum, voluptatum quae. Dolorum ipsam quos, maiores nulla ab iusto aspernatur. Dignissimos.
    </div>
</div>
<div class="py-5" id="Contact" style="height: 600px;">
    <div class="text-center">
        <h1 class="display-4"><u>Contact</u></h1>
    </div>
    <div class="container">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum cupiditate enim dolore, fugit harum rem pariatur quo, saepe, sequi aut recusandae quos sed. Ad quibusdam, praesentium atque autem sint iure.
    </div>
</div>